.app__hero-container {
    width: 100%;
    height: 90vh;
    padding: 10rem 10rem;
    display: flex;
    flex-direction: row;
}
.app__hero-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.app__hero-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 75px;
    /* or 121% */
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 774px;
    height: 225px;
}
.app__hero-p{
    padding-top: 2rem;
    width: 554px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #81AFDD;
}
.app__hero-email {
    background: #052D56;
    border-radius: 5px 0px 0px 5px;
    width: 456px;
    height: 73px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-top: 2rem;
    padding-left: 2rem;
    color: #3D6184;
}
.app__hero-btn {
    background: #FF4820;
    border-radius: 0px 5px 5px 0px; 
    width: 174px;
    height: 73px;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 2rem;
}
.app__hero-btn:hover {
    background: #ff4920c6;
    transition: 0.1s;
}
.app__hero-input {
    display: flex;
}
.app__hero-right {
    margin-top: -10rem;
    margin-left: -10rem;
}
.app__hero-right img {
    width: 800px;
}
.app__hero-people {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
}
.app__hero-people p {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 13px;
    line-height: 38px;
    color: #FFFFFF;
    padding-left: 1rem;
}
@media only screen and (max-width: 1700px) {
    .app__hero-container {
        padding: 5rem 8rem;
    }
    .app__hero-right{
        margin-top: 0rem;
        margin-left: 0rem;
    }
}
@media only screen and (max-width: 1600px) {
    .app__hero-left {
        width: 60%;
    }
    .app__hero-title {
        font-size: 62px;
        width: 674px;
    }
    .app__hero-container {
        height: 80vh;
    }
}
@media only screen and (max-width: 1200px) {
    .app__hero-container {
        flex-direction: column;
        padding: 5rem 5rem;
    }
    .app__hero-left {
        width: 100%;
    }
    .app__hero-right {
        margin-top: 2rem;
        width: 500px;
    }
    .app__hero-container {
        height: 135vh;
    }
    
}
@media only screen and (max-width: 800px) {
    .app__hero-title {
        width: 500px;
        font-size: 50px;
    }
    .app__hero-p {
        width: 500px;
        letter-spacing: 1px;
   
    }
    .app__hero-btn {
        font-size: 15px;
    }
    .app__hero-people {
        flex-direction: column;
    }
    .app__hero-container {
        height: 145vh;
    }
}
@media only screen and (max-width: 600px) {
    .app__hero-title {
        width: 420px;
        font-size: 40px;
        line-height: 50px;
        height: 150px;
    }
    .app__hero-p {
        width: 400px;
        letter-spacing: 1px;
   
    }
    .app__hero-right {
        width: 400px;
    }
    .app__hero-btn {
        font-size: 12px;
    }
    .app__hero-email {
        font-size: 15px;
    }
    .app__hero-container {
        height: 130vh;
    }
}
@media only screen and (max-width: 500px) {
    .app__hero-container {
        padding: 1rem 2rem;
        height: 100%;
    }
    .app__hero-title {
        width: 370px;
    }
    .app__hero-right {
        width: 300px;
    }
    .app__hero-container {
        height: 100vh;
    }
    .app__hero-right img {
        margin-left: 3.5rem;
    }
    .app__hero-p {
        width: 300px;
        letter-spacing: 0px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    .app__hero-title {
        width: 300px;
    }
    .app__hero-p {
        width: 300px;
        letter-spacing: 0px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 300px) {
    .app__hero-p {
        width: 250px;
    }
    .app__hero-title {
        width: 250px;
       
    }
    .app__hero-right {
        width: 250px;
    }
}